.card_film{
    width: 200px;
   // height: 380px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    .btn_muave{
        background-color: #51b048;
        
        &:hover{
            background-color: white;
            color: #51b048;
        }

    }
    .card_film-top{
        height: 60%;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .card_film-bottom{
        height: 40%;
        padding: 14px;
        .card_film-text{
            color: white;
            margin: 0;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 1rem;
            &:hover{
                color: #51b048;
            }
        }
    }

  
}